doctype html
html(lang='en')
    head
        | <style type="text/css">
        include roomlist.css
        | </style>

        link(rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.css" )
    body
        h3 Home
        if activeRoom
            div(class="subscribed")
                div(class="subscribed-row")
                    span(class="row-label") Active Room: 
                    span(class="row-content room-name") #{activeRoom.name}
                div(class="subscribed-row")
                    span(class="row-label") Actions: 
                    span(class="row-content")
                        a(class="button unsubscribe" href="/gitter/rooms/#{activeRoom.id}/unsubscribe") Unsubscribe
                div(class="subscribed-row")
                    span(class="row-label") Keywords: 
                    span(class="row-content")
                        div(style="display: inline-block;")
                            form(action="/gitter/keywords" method="POST")
                                input(type="text" name="keywords" value="#{keywords}")
                                button(type="submit" class="button") Update
                        div(class="small-note")
                            | Keywords are comma ( , ) seperated. Clear to notify on all messages.

        h3 Available Rooms:
        - var odd = true;
        - var rowstyle;
        each room in rooms
            - odd = !odd;
            - rowstyle = odd ? 'odd' : 'even';
            div(class="room-row #{rowstyle}")
                span(class="row-label")
                    a(class="button subscribe" href="/gitter/rooms/#{room.id}/subscribe") Subscribe
                span(class="row-content")
                    span(class="room-name") #{room.name}

